.alert-full {
    position: absolute;
    width: -webkit-fill-available;
    text-align: center;
    display: none;
}

.divTop {
    align-items: center;
    width: auto;
}

.layoutName {
    width: auto;
    margin-bottom: 0;
}

.divBtn {
    width: auto;
    margin-right: 0%;
    margin-left: auto;
}

.btnCrud {
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

.iconCrud {
    margin-left: -13px;
    font-size: 2.2rem;
}

.form-control {
    font-size: 0.65rem;
	width: 100%;
	padding: 0.2rem 0.4rem;
}

.form-select {
    width: 50%;
}

.column {
  float: left;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}
